/* components/editor/CustomReactFlow.css */
.custom-reactflow-canvas .nodrag {
  pointer-events: all !important;
}

.custom-reactflow-canvas .nodrag * {
  pointer-events: all !important;
}

.custom-reactflow-canvas button {
  -webkit-user-drag: none;
  user-select: none;
}

.custom-reactflow-canvas input,
.custom-reactflow-canvas select,
.custom-reactflow-canvas button {
  pointer-events: all !important;
}

.reactflow-wrapper {
  height: 100%;
  min-height: 500px;
}
